<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<form action="add-youtube-link" method="POST" enctype="multipart/form-data">
  <div class="container-judge">


    <div class="judge-header">
      <h1>Add Youtube Links</h1>
    </div>
    <hr>
    
    <label><b>Youtube Link</b></label>
    <input type="text" placeholder="Enter Youtube Link" name="ytlink" id="ytlink">

   
    <hr>

    <button type="submit" class="registerbtn">Submit</button>
  </div>


</form>
