<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<form action="add-item" method="POST" enctype="multipart/form-data">
  <div class="container-judge">


    <div class="judge-header">
      <h1>Add items</h1>
    </div>
    <hr>
    
    <label><b>Item Name</b></label>
    <input type="text" placeholder="Enter Item Name" name="itemname" id="itemname">

   
    <hr>

    <button type="submit" class="registerbtn">Submit</button>
  </div>


</form>
