<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<form action="" method="POST" enctype="multipart/form-data">
  <div class="container-judge">


    <div class="judge-header">
      <h1>Edit items</h1>
    </div>
    <hr>
    
    <label><b>Item Name</b></label>
    <input type="text" placeholder="Enter Item Name" value="{{data.itemname}}" name="itemname" id="itemname">
    <input type="number" name="firstPrizeStatus" value="0" hidden>
    <input type="number" name="secondPrizeStatus" value="0" hidden>
    <input type="number" name="thirdPrizeStatus" value="0" hidden>
    <p><b>Please select type of event</b></p>
    <br>
    <input type="radio" id="onstage" name="itemtype" value="onstage" checked>
    <label for="onstage">On Stage</label><br>
    <input type="radio" id="offstage" name="itemtype" value="offstage">
    <label for="offstage">Off Stage</label><br>
    <br>
    <p><b>Group/Solo</b></p>
    <br>
    <input type="radio" id="group" name="grouporsolo" value="group" checked>
    <label for="group">Group</label><br>
    <input type="radio" id="solo" name="grouporsolo" value="solo">
    <label for="solo">Solo</label><br>

<br>
    <p><b>Literature/Drawing</b></p>
    <br>
    <input type="radio" id="literature" name="subtype" value="literature" checked>
    <label for="literature">Literature</label><br>
    <input type="radio" id="drawing" name="subtype" value="drawing">
    <label for="drawing">Drawing</label><br>
    <input type="radio" id="none" name="subtype" value="none">
    <label for="none">None</label><br>
    <input type="radio" id="craft" name="subtype" value="craft">
    <label for="craft">Craft (includes Spot Photography,Clay Modeling, etc)</label><br>

   <br><label ><b>Date</b></label>
    <input type="date" value="{{data.date}}" placeholder="Enter Date" name="date" id="date" required>

    <br>
    <br>
    <label for="appt"><b>Time</b></label>
    

    <input type="time" value="{{data.time}}" id="appt" name="time" required>
    <br>
    <br>
    <label for="dur"><b>Duration</b></label>
    <input type="time" value="{{data.duration}}" id="dur" name="duration" required>
    <hr>
    
   
    <hr>

    <button type="submit" class="registerbtn">Update</button>
  </div>


</form>
