<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<form action="" method="POST" enctype="multipart/form-data">
  <div class="container-judge">


    <div class="judge-header">
      <h1>Edit items</h1>
    </div>
    <hr>
    
    <label><b>Item Name</b></label>
    <input type="text" placeholder="Enter Item Name" value="{{data.itemname}}" name="itemname" id="itemname">

    
   
    <hr>

    <button type="submit" class="registerbtn">Update</button>
  </div>


</form>
