

<!DOCTYPE html>
<html>
<style>

.signupbtn {
  float: inline-start;
  width: 50%;
  background-color: red;
  height: 50px;
  color: white;
  font-size: 20px;
  border-radius:20px;

}


</style>
<body>
	<center><h1>Aagneya</h1></center>
    <br><br><br><br><br><br>
    <center>
<a href="/admin">
      <button  class="signupbtn">Go to admin panel</button>
 </a>  
 </center>
 <br><br><br>
  <center>
<a href="/judge">
      <button  class="signupbtn">Go to judges panel</button>
 </a>  
 </center>
</body>
</html>
