html{
	font-size: 62.5%;
}

body {
  padding: 5rem;
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.form-box{
	width: 38rem;
	height: 48rem;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 0.5rem;
	overflow: hidden;
}
.button-box{
	width: 22rem;
	margin: 3.5rem auto;
	position: relative;
	box-shadow: 0 0 2rem 0.9rem #ff61241f;
	border-radius: 3rem;


}
.toggle-btn{
	
	padding: 1rem 9.5rem;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;

}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width:100%;
	height: 100%;
	background: linear-gradient(to right,#ff105f,#ffad06);
	border-radius: 3rem;
	
}

.input-group{
	top: 18rem;
	position: absolute;
	width: 28rem;
	transition: .5s;

}
.input-field{
	width: 100%;
	
	padding: 1rem 0;
	margin: 0.5rem 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 0.1rem solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 90%;
	padding: 1rem 3rem;
	cursor: pointer;
	display: auto;
	background: linear-gradient(to right,#ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 3rem;
}
.check-box{
	margin: 3rem 1rem 3.5rem 3.5rem;
}
span{
	color:#777;
	font-size: 1.2rem;
	bottom: 7rem;
	position: absolute;

}
#login{
	left: 4.5rem;
	

}
#register{
	left: 80rem;
	
}

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.navbar-brand img 
{
	height: 12rem;
	width: 18rem;
	padding-left:3rem;
	padding-right: 3rem;
	padding-top: 0;
	padding-bottom: 1rem;
	position: absolute;
	background:-moz-radial-gradient(black,transparent);
	border-radius: 30rem;
		

}

 .form-box{
	width: 38rem;
	
	position: relative;
	margin: 6% auto;
	background: rgba(243, 240, 240, 0.966);
	padding: 0.5rem;
	overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(119, 103, 103, 0.2);
} 
.button-box{
	width: 22rem;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */

  background-color: #ddd; /* Grey background */
  border-radius: 3rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(119, 103, 103, 0.2);
}




.header {
  padding: 2rem;
  

  text-align: center;
  background: #e6e5e1;
  color: rgb(10, 9, 9);
  font-size: 3rem;
  border-radius: 3rem;
}


/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #333; */
  background: linear-gradient(to right,#ff105f,#ffad06);
  overflow: hidden;
  padding: 2rem;
  border-radius: 3rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
  border-radius: 2rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #4CAF50; */
  background-color: #ffad06;
  color: white;
}
.topnav a.login{
  float: right;
}

.space{
  padding: 2rem;
  text-align: center;
}

.blank1{
  padding: 2rem;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


  


  .space{
	  font-size: 2rem;
  }
  .dep-header{
	  font-size: 2rem;
  }
  .header{
	  font-size: 2rem;
  }
  .home{
	  font-size: 2rem;
	  height: 40rem;
	  width: 100%;
  }
  
  
  .form-box{
	  width: 100%;
	  height: 80rem;;
	  
  }
  .button-box{
	  width: 90%;
	  height: 5.5rem;
  }
  .toggle-btn{
	  padding-top: 1rem;
	  padding-left: 40%;
	  color: #f1f1f1;
	  font-size: 3rem;
  }
  
  .input-group{
	  top: 20rem;
	  width: 100%;
	  padding-right: 5rem;
	  
  }
  .input-field{
	  
	  height: .5rem;
	 
  }
	 
  
  
  .submit-btn{
	  padding-top: .5rem;
	  padding-bottom: .5rem;
	  font-size: 2rem;
	  padding-left: 3rem;
	  
  }
  
.hero{
	  width: 50%;

}  

  
  
* {box-sizing: border-box}

input[type=text], input[type=password] {
  width: 90%;
  font-size: 1.5rem;
  padding: 2.5rem;
  
  margin: 3rem 0 4rem 0;
  display: inline-block;
  border: none;
  border-radius: 3rem;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 2.5rem;
}

/* Set a style for the submit/register button */
.registerbtn {

background: linear-gradient(to right,#ff105f,#ffad06);

  color: white;
  padding: 1.6rem 2rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.judge-header {
	padding-bottom: 1rem;
}

.dropdown {
	padding: 2rem;
	
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 16rem;
	box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
	padding: 1.2rem 1.6rem;
	z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  .registration-item{
	  padding-top: 2rem;
	  padding-bottom: 2rem;
	  
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  /* * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: 'Poppins', sans-serif;
  }

  body {
	  height: 100vh;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 10px;
	  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  } */

  .body-event-register{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	/* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  }


  .container-ex {
	  max-width: 700px;
	  width: 100%;
	  background-color: #fff;
	  padding: 25px 30px;
	  border-radius: 5px;
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .container-ex .title-ex {
	  font-size: 25px;
	  font-weight: 500;
	  position: relative;
  }

  .container-ex .title-ex::before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  height: 3px;
	  width: 30px;
	  border-radius: 5px;
	  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .content-ex form .user-details-ex {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  margin: 20px 0 12px 0;
  }

  form .user-details-ex .input-box-ex {
	  margin-bottom: 15px;
	  width: calc(100% / 2 - 20px);
  }

  form .input-box-ex  {
	  display: block;
	  font-weight: 500;
	  margin-bottom: 5px;
  }

  .user-details-ex .input-box-ex input {
	  height: 45px;
	  width: 100%;
	  outline: none;
	  font-size: 16px;
	  border-radius: 5px;
	  padding-left: 15px;
	  border: 1px solid #ccc;
	  border-bottom-width: 2px;
	  transition: all 0.3s ease;
  }

  .user-details-ex .input-box-ex input:focus,
  .user-details-ex .input-box-ex input:valid {
	  border-color: #9b59b6;
  }

 

  form .button-ex {
	  height: 45px;
	  margin: 35px 0
  }

  form .button-ex input {
	  height: 100%;
	  width: 100%;
	  border-radius: 5px;
	  border: none;
	  color: #fff;
	  font-size: 18px;
	  font-weight: 500;
	  letter-spacing: 1px;
	  cursor: pointer;
	  transition: all 0.3s ease;
	  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  form .button-ex input:hover {
	  /* transform: scale(0.99); */
	  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

  @media(max-width: 584px) {
	  .container-ex {
		  max-width: 100%;
	  }

	  form .user-details-ex .input-box-ex {
		  margin-bottom: 15px;
		  width: 100%;
	  }

	  
	  .content-ex form .user-details-ex {
		  max-height: 300px;
		  overflow-y: scroll;
	  }

	  .user-details-ex::-webkit-scrollbar {
		  width: 5px;
	  }
  }

  @media(max-width: 459px) {
	  .container-ex .content-ex {
		  flex-direction: column;
	  }
  }

  .mul-select {
	width: 100%;
}
  